*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
header{
  background-color: white;
  width: auto;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  right: 20px;
}
.header h1{
  text-decoration: none;
  letter-spacing: 4px;
  color: #008000;
  font-size: 40px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
#line1{
  top: 30px;
  left: 10px;
  position: absolute;
  display: inline-block;
  content: " ";
  height: 3px;
  width: 600px;
  background-color: #008000;
}
#line2{
  top: 30px;
  right: 10px;
  position: absolute;
  display: inline-block;
  content: " ";
  height: 3px;
  width: 600px;
  background-color: #008000;
}

/*Parallax Effect*/
.parallax{
  background: url('img1.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  z-index: -1;
}
.parallax2{
  background: url('img2.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  z-index: -1;
}

.bc{
  background: url('buza.png') no-repeat center;
  background-size: cover;
  height: 900px;
}


/* Pop-Out Icons */
a{
  color: black;
  text-decoration: none;
}
.link a{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    color: #008000;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 30px;
    overflow:  hidden;
    transition: 0.2s;
}
.szoveg{
  text-align: center;
  justify-content: center;
}
#szerv{
  width: 250px;
  border-width: medium;
  border-style: solid;
  border-color: #008000;
  background-color: white;
  text-align: center;
  font-size: 25px;
}
.szoveg #szerv{
  width: 230px;
  padding-top: 10px;
  border-width: medium;
  border-style: solid;
  text-align: center;
  font-size: 15px;
}
.link{
   margin: auto;
   width: 100%;
   text-align: center;
}
#szerv:hover{
  color: white;
  background: #008000;
  box-shadow: 0 0 10px #808080, 0 0 40px #737373, 0 0 80px #666666;
  transition-delay: 0s;
}
#szerv span
{
  position: absolute;
  display: block;
}
#szerv span:nth-child(1)
{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#fff203);
}
#szerv:hover span:nth-child(1)
   {
       left:100%;
       transition: 1s;
   }

   #szerv span:nth-child(3)
   {
       bottom: 0;
       right: -100%;
       width: 100%;
       height: 2px;
       background: linear-gradient(270deg,transparent,#fff203);
   }
   #szerv:hover span:nth-child(3)
   {
       right: 100%;
       transition: 1s;
       transition-delay: 0.5s;
   }

   #szerv span:nth-child(2)
   {
       top: -100%;
       right: 0%;
       width: 2px;
       height: 100%;
       background: linear-gradient(180deg,transparent,#fff203);
   }
   #szerv:hover span:nth-child(2)
   {
       top: 100%;
       transition: 1s;
       transition-delay: 0.25s;
   }

   #szerv span:nth-child(4)
   {
       bottom: -100%;
       left: 0%;
       width: 2px;
       height: 100%;
       background: linear-gradient(360deg,transparent,#fff203);
   }
   #szerv:hover span:nth-child(4)
   {
       bottom: 100%;
       transition: 1s;
       transition-delay: 0.75s;
   }

/* Információ Container */
.InformacioContainer{
  background-color: #008000;
  color: white;
  padding-top: 40px;
  padding-bottom: 60px;
}
.InformacioContainer h1{
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}
.InformacioContainer p{
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}

/* Kapcsolat Container */
.KapcsolatContainer{
  background-color: white;
  color: #008000;
  padding-top: 40px;
  padding-bottom: 60px;
}
.KapcsolatContainer h1{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}
.KapcsolatContainer p{
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
}

@media only screen and (max-width:1400px)
{
  .InformacioContainer p{
    padding-left: 100px;
    padding-right: 100px;
  }
  .KapcsolatContainer p{
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width:950px)
{
  .header_header h1{
    font-size: 30px;
  }
}
@media only screen and (max-width:590px)
{
  .header_header h1
  {
    font-size: 20px;
  }
}
@media only screen and (max-width:535px)
{
  #szerv{
    width: 47%;
  }
  .InformacioContainer p{
    padding-left: 20px;
    padding-right: 20px;
  }
  .KapcsolatContainer p{
    padding-left: 20px;
    padding-right: 20px;
  }
  header{
    margin-bottom: 25px;
  }
  #szerv p{
    font-size: 16px;
  }
  .parallax{
    height: 800px;
  }
  .parallax2{
    height: 800px;
  }
  #googlemaps{
    width: 90%;
  }
}
